{% extends "top_bar.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <div class="bigtitle">
        <h1>Le blogue d'analyse de la MLS</h1>
    </div>

    <div class="home_about">
        <div>
            <h1>On aime tellement le foot qu'on a créé ce site</h1>
            <h2> Nous y combinons nos forces de juriste et de statisticien pour produire
                des analyses poussées sur le management du foot nord-américain. (<a href="/a-propos">en savoir plus</a>)
            </h2>
        </div>

        <div class="les-garcons">

            <div class="gars">
                <p><img src="{{ url_for('static', filename='simon.jpg') }}" alt="Simon de Andrade"></p>
                <p><b>Simon De Andrade</b></p>
                <p>Avocat</p>
            </div>

            <div class="gars">
                <p><img src="{{ url_for('static', filename='felix.jpg') }}" alt="Félix Chrétien"></p>
                <p><b>Félix Chrétien</b></p>
                <p>Scientifique des données
                </p>
            </div>

        </div>

    </div>


    <div class="last_article">
        <h1>Dernier article</h1>
        <h2>
            <a class= "lire_plus" href="{{ last_article_route }}">{{ last_article['titre'] }}</a>
        </h2>
        <h3>
            {{ last_article['date'] }}
        </h3>

        <p>{{ last_article['description'] | safe }} (<a href="{{ last_article_route }}">lire la suite</a>)</p>
    </div>


{% endblock %}