/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');


html{
  background-color: #eeeeee;
}

body{
  margin: 2vh;
}

h1{
  font-family: "Playfair Display";
  font-size: 50px;
  margin-top: 180px;
}

h2{
  font-size: 40px;
  padding-right: 10%;
  padding-left: 10%;
  font-family: 'Mukta', sans-serif;
  font-weight: normal;

}

p{
  font-family: 'Mukta', sans-serif;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 20px;
  text-align: justify;
}

p.note_de_bas_de_page{
  font-size: 16px;
}

a{
  color: #4c4c4c;
}

a:hover {
  color: #19af54;
}


a.appel_bas_de_age{
  vertical-align: super;
  font-size: smaller;

}

.top_bar {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
  border-bottom: 4px double;
  align-items: flex-end;
}

.placeholder{
  flex: 30%;
}

.top_logo {
  background-color: #eeeeee;
  flex: 40%;
}

.top_logo p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.smaller_top_logo {
  background-color: #eeeeee;
  flex: 40%;
  display: none;
}

.smaller_top_logo p {
  margin: 0;
  padding: 0;
  text-align: center;
}



/* Format the articles summary blocks */

h2.article_summary_block {
  font-family: "Playfair Display";
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h3.article_summary_block {
  text-align: center;
  font-size: 16px;
  color: #4c4c4c;
  font-family: 'Mukta', sans-serif;
}

.end_of_something_border{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 10% 22%;
}

.bas_de_page_border{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 5% 22%;
}

a.lire_plus{
  color: black;
  text-decoration: none;
}

a:hover.lire_plus{
  text-decoration: none;
  color: #19af54;
}

/*Home page*/
.homepage_container {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

@media (max-width: 800px) {
  .homepage_container {
    flex-direction: column;
  }
}

.one_third{
  padding-right: 1%;
  padding-left: 1%;
  flex: 33%;}

@media (max-width: 800px) {
  .one_third {
    flex: 100%;
  }
}

.one_third h3{
  font-family: 'Mukta', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}

.one_third img{
  height: 85px;
}

.one_third p{
  font-family: 'Mukta', sans-serif;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 20px;
  text-align: justify;
}

.bigtitle{
  margin-bottom: 2vh;
  background-image: url('../static/back.jpg');
  background-size: cover;
  height: 86vh;
}

.bigtitle h1{
    padding: 10% 3%;
    font-size: 75px;
    text-align: left;
    color: #eeeeee;
    margin: 0;
}

.last_article {
  margin: 5% 5% 10%;
}

.last_article h1{
    margin-top: 0;
    font-size: 40px;
    font-family: 'Mukta', sans-serif;
    font-weight: normal;

}

.last_article h2 {
  font-family: "Playfair Display";
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.last_article h3 {
  text-align: center;
  font-size: 16px;
  color: #4c4c4c;
  font-family: 'Mukta', sans-serif;
}

.main_content {
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.main_content H1 {
  margin: 5% 5%;
}


.main_content p {
  padding-top: 1%;
}

a.contact{
  color: #19af54;
}

a:hover.contact{
  text-decoration: none;
  color: #19af54;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  flex-wrap: wrap;
  font-family: 'Mukta', sans-serif;
}
nav .logo{
  color: black;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover{
  color: #19af54;
}
nav .menu-btn i{
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media screen and (orientation:portrait){
  nav .menu-btn i {
    font-size: 32px;
  }
  .logo img {
    height: 40%;
  }
}

@media (max-width: 1000px){
  nav{
    padding-right: 25px ;
  }
}

@media only screen and (hover: none) and (pointer: coarse){
  nav{
    padding-right: 25px ;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: absolute;
    top: 11vh;
    left: -100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
    background-color: #eeeeee;

  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 20px;
    /*transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }

  nav ul li a:hover{
    background: none;
    color: #19af54;
  }
}


@media only screen and (hover: none) and (pointer: coarse){
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: absolute;
    top: 11vh;
    left: -100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
    background-color: #eeeeee;

  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 20px;
    /*transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }

  nav ul li a:hover{
    background: none;
    color: #19af54;
  }
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.home_about {
  background-color: white;
  margin: 0;
  padding-top: 5vh;
}

.home_about h1 {
  margin: 5vh;
  font-weight: normal;
  font-size: 42px;
}


.home_about h2 {
  margin: 5vh;
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
  font-size: 23px;
}


#en-savoir-plus {
  text-align: center;
  margin-top: 3vh;
}

.les-garcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gars {
  height: 40vh;
}

@media (max-width: 800px) {
  .les-garcons {
    flex-wrap: wrap;
  }
}


@media screen and (orientation:portrait){
.gars {
    flex: 100%;
    height: 35vh;
  }
}

@media screen and (max-device-width: 750px) and (orientation:portrait){
.gars p{
    font-size: 36px;
  }
}

@media screen and (orientation:landscape){
.gars {
    flex: 100%;
    height: 50vh;
  }
}

@media (max-width: 800px) {
.les-garcons {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (hover: none) and (pointer: coarse){
.les-garcons {
    margin-right: 0;
    margin-left: 0;
    flex-wrap: wrap;
  }
}


.les-garcons img {
  align-content: center;
  border-radius: 50%;
  height: 40%;
  border-color: #eeeeee;
  border-width: 1vh;
  border-style: solid;
}

@media screen and (orientation:portrait){
.les-garcons img {
  height: 60%;
  border-width: 0.5vh;
  }
}

@media screen and (orientation:landscape){
.les-garcons img {
  height: 60%;
  border-width: 0.5vh;
  }
}

.les-garcons p {
  text-align: center;
}

