<!--This sheet is an archive of when whe had the three containers with icons in the home page-->

    <div class="homepage_container">

        <div class="one_third">
            <p style="text-align:center;">
            <img src="{{ url_for('static', filename='icones/legal.png') }}" alt="icone">
            </p>
            <h3>Management</h3>
            <p>Gestion sportive et commentaire juridique.</p>
        </div>

        <div class="one_third">
            <p style="text-align:center;">
            <img src="{{ url_for('static', filename='icones/analytics.png') }}" alt="icone">
            </p>
            <h3>Analytique</h3>
            <p>Utilisation des méthodes statistiques modernes et base de données massives.</p>
        </div>

        <div class="one_third">
            <p style="text-align:center;">
            <img src="{{ url_for('static', filename='icones/soccer.png') }}" alt="icone">
            </p>
            <h3>Sports</h3>
            <p>Analyse des performances sportives</p>
        </div>

    </div>
