<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://kit.fontawesome.com/6eb51dd042.js" crossorigin="anonymous"></script>    </head>
    <nav>
        <div class="logo"><a href="/"><img height="70%" src="{{ url_for('static', filename='logo.png') }}"></a></div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
    {% if active=="home" %}
    <ul>
        <li><a class="active" href="/">accueil</a></li>
        <li><a href="/articles">articles</a></li>
        <li><a href="/a-propos">à propos</a></li>
    </ul>

    {% elif active=="articles" %}
    <ul>
        <li><a href="/">accueil</a></li>
        <li><a class="active" href="/articles">articles</a></li>
        <li><a href="/a-propos">à propos</a></li>
    </ul>

    {% else %}
    <ul>
        <li><a href="/">accueil</a></li>
        <li><a href="/articles">articles</a></li>
        <li><a class="active" href="/a-propos">à propos</a></li>
    </ul>

    {% endif %}
    </nav>

    {% block content %}{% endblock %}
</html>